html {
    height: 100%;
}

.body {
    background-image: url('https://images.unsplash.com/photo-1615148536759-8fae933d8ff1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80');
    background-position: center bottom;

}

.flex-container {
    display: flex;
    justify-content: center;
  }

.flex-container-right {
    display: flex;
    flex-direction: row-reverse;
}

.form-container {
    width: 75%;

}

.margin-top {
    margin-top: 25px;
}

.height-buffer {
    height: 80px;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 30%
}

.quarter-width {
    width: 20%;
}

.space-evenly {
    justify-content: space-evenly;
}

input {
    width: 100%;
}

.form-title {
    color: white;
    background: linear-gradient(200deg, rgba(222,219,219,0) 0%, rgba(103,110,108,1) 65%);
}